*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Forum', cursive;
    font-size: 48px;
    color: #272727;
}

.hidden{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
}

a{
    text-decoration: none;
    color: #272727;
}

ul{
    list-style: none;
}

/* начало блока заголовка */
.site-header{
    margin-bottom: 20px;
}

.columns{
    display: flex;
    /* background: url(../img/ring.png) no-repeat; */
}

.left-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    width: 62%;
    padding: 60px 0 0 11.3%;
}
.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38%;
    background: #272727;
    color: #FFFFFF;
    padding: 60px 11.3% 0 0;
}

.ring{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 397px;
    left: 746px;
    background: url(../img/ring.png) no-repeat;
}

.brand-name{
    position: relative;
    margin-bottom: 326px;
}

.brand-name a{
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.brand-name span.upper{
    font-size: 42px;
}

.letterWithMoon{
    position: absolute;
    left: 85px;
    top: 15px;
    z-index: 2;
}
.description-collection{
    margin-bottom: 367px;
}

.description-collection>p{ 
    text-transform: uppercase;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 50px;
}
.description-collection a{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 24px;
}
.wrapper-line{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    column-gap: 38px;
    /* align-items: center; */
}

.line{
    width: 150px;
    height: 14px;
    border-bottom: 1px solid #272727;
}

.language-change{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.language-change a{
    color: #C4C4C4;
}

.language-change a:focus{
    color: #272727;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.main-nav a{
    color: #FFFFFF;
    display: block;
}


.main-nav .icon{
    width: 25px;
    height: 25px;
    display: block;
}

.icon-menu{
    align-items: center;
    display: flex;
    column-gap: 40px;
}

.basket{
    display: flex;
}

.basket .custom-count{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.icon-menu .icon-liked{
    background: url("../img/liked.png") no-repeat;
}

.icon-menu .icon-profile{
    background: url("../img/profile.png") no-repeat;
}
.icon-menu .icon-basket{
    background: url("../img/basket.png") no-repeat;
}

.burger-menu .icon-burger{
    background: url("../img/burger.png") no-repeat;
    width: 50px;
    height: 50px;
}

.description-ring{
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.first-description-stroka{
    margin-bottom: 9px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.second-description-stroka{
    margin-bottom: 9px;
    line-height: 23px;
    color: #c2c2c2;
}
.third-description-stroka{
    line-height: 24px;
    color: #EFC58B;
}


/* конец блока заголовка */

/* начало блока main */
/* начало первого блока */
.chapter-wrapper{
    background-color: #FFFFFF;
    margin-bottom: 20px;

    background:
         linear-gradient(to right, rgba(0, 0, 0, 0.5) 49%, #FFFFFF 49% 51%, rgba(0, 0, 0, 0.5) 50% 100%),
         url(../img/men.png) no-repeat, url(../img/women.png) no-repeat right;
}

.chapter-columns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 587px;
    align-items: center;

}

.for-men, .for-women{
    text-align: center;
}

.chapter-columns a{
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.chapter-columns h2{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 70px;
    font-weight: normal;
}

.secondLine{
    display: inline-flex;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 20px;
}
/* конец первого блока */


/* начало третьего (catalog) блока */
.grid-container{
    display: grid;
    grid-template-columns: 400px 600px 400px;
    grid-template-rows: 400px 400px;
    gap: 20px;
    margin-bottom: 20px;
}

.grid-item{
    width: 400px;
    height: 400px;
    background-color: #EDEDED;
}

.necklace{
    width: 600px;
    height: 820px;
    background-image: url(../img/necklace.png);
}

.necklace .description{
    padding: 714px 0 20px 30px;
}

.necklace .description .first-description-stroka{
    color: #FFFFFF;
}

.necklace .description .second-description-stroka{
    color: #e7e7e7;
}

.necklace .description .third-description-stroka{
    color: #EFC58B;
}


.description{
    padding: 294px 0 20px 30px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.description .first-description-stroka{
    color: #272727;
}

.description .second-description-stroka{
    color: #727272;
}

.description .third-description-stroka{
    color: #E2B67A;
}


.grid-item:first-child{
    grid-column: 1/2;
}

.grid-item:first-child::before{
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    background: url(../img/firstRing.png) no-repeat top 47px left 70px;
}

.grid-item:nth-child(2){
    grid-row-start: 2;
    grid-column: 1/2;
}

.grid-item:nth-child(2)::before{
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    background: url(../img/secondRing.png) no-repeat top 47px left 70px;
}

.grid-item:nth-child(3){
    grid-column-start: 2;
    grid-row: 1/3;
}

.grid-item:nth-child(4){
    grid-column: 3/4;
}

.grid-item:nth-child(4)::before{
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    background: url(../img/firstEarrings.png) no-repeat bottom 110px left 40px;
}

.grid-item:last-child{
    grid-row-start: 2;
    grid-column: 3/4;
}

.grid-item:last-child::before{
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    background: url(../img/secondEarrings.png) no-repeat bottom 100px left 50px;
}

/* конец третьего (catalog) блока */

/* начало блока с телефоном и почтой */

.follow-wrapper{
    display: flex;
    height: 640px;
    background-color: #FFFFFF;
}

.image{
    content: "";
    width: 50%;
    background: url(../img/greenWoman.png) no-repeat;
}

.news-wrapper{
    width: 50%;
    text-align: center;
    padding: 180px 0 0 183px;
}
.news{
    display: flex;
    flex-direction: column;
    row-gap: 110px;
    text-align: left;    
}
.number, .follow-news{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number p, .follow-news p{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
}

.number a{
    color: #959595;
    font-size: 22px;
    line-height: 28px;
}

.inputAndButton{
    width: min-content;
    display: flex;
    border-bottom: 1px solid #272727;
}

.inputAndButton input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    line-height: 28px;
    border: #FFFFFF;
}

.inputAndButton input:focus{
    outline: #FFFFFF;
}

.btn{
    position: relative;
    top: 2px;
    left: -10px;
    width: 40px;
    height: 17px;
    border: none;
    cursor: pointer;
    background: url(../img/arrow.png) no-repeat;
}

/* конец блока с телефоном и почтой */

/* конец блока main */